body {
	/*background-color: #ABA5A5;*/
	background: #757F9A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dice {
	width: 30%;
	float: left;
	margin: 1.66%;
	/*padding: 10px;*/
	/*background: white;*/
}

#container {
	margin: 50px auto;
	max-width: 600px;
}

#button {
	font-family: 'Markazi Text', 'serif';
	font-weight: bold;
}

.totals {
	color: #232323;
	font-family: 'Markazi Text', 'serif';
	text-align: center;
	font-size: 2em;
	margin: 0 auto;
	padding-top: 90px;
	width: 650px;
}

img {
	width: 100%;
	float: none;
}

h1 {
	color: #232323;
	text-align: center;
	font-family: 'Bangers', 'cursive';
	font-weight: normal;
	font-size: 4em;
	margin: 0;
	padding: 20px;
}
