body {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dice {
    width: 30%;
    float: left;
    margin: 1.66%;
}

.dice-container {
    margin: auto;
    max-width: 600px;
}

#button {
    font-family: 'Markazi Text', 'serif';
    font-weight: bold;
    font-size: 20px;
    padding: .5em 1em;
    display: block;
    margin: 1em auto 2em auto;
    border-radius: 3px;
    border: 1px solid black;
}

.totals {
    color: #232323;
    font-family: 'Markazi Text', 'serif';
    font-size: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.die-total {
    text-align: center;
    width: 40% !important;
    margin: auto !important;
}

img {
    width: 100%;
}

h1 {
    color: #232323;
    text-align: center;
    font-family: 'Bangers', 'cursive';
    font-weight: normal;
    font-size: 4em;
    margin: 0;
    padding: 20px;
}
